---
import { Image } from 'astro:assets';

import { YouTube } from 'astro-embed';

import { formatDateToThai } from '../lib/formatDate';

const { post } = Astro.props;

import '../styles/movie.scss';

import AdsenseMovie from '../components/AdsenseMovie.astro';
import DataImdb from '../components/DataImdb.astro';
import TrailerMovie from '../components/TrailerMovie.astro';

const imdbId : string | null = post.movie.imdbId;
---
<article>
    <div class="movie-detail-container">
        <header class="movie-detail">
            <h1 class="movie-name">{post.title}</h1>
            <div class="font-light" set:html={post.movie.synopsis}></div>            
        </header>
        <figure class="movie-poster">
            <Image
                class="rounded-lg"
                src={post.featuredImageMedium.node.sourceUrl}
                alt={`โปสเตอร์หนัง ${post.title} กำกับโดย ${post.movie.director}`}
                width="300"
                height="429"
                sizes="(max-width: 300px) 100vw, 300px"
                loading="eager"
            />
        </figure>
    </div>
    <AdsenseMovie />
    <div class="tabs">
        <div class="tabs-nav">
            <button class="tabs-nav-item active" id="btn-tab-1" aria-label="เรื่องย่อ">เรื่องย่อ</button>
            <button class="tabs-nav-item" id="btn-tab-2" aria-label="ข้อมูล">ข้อมูล</button>
            <button class="tabs-nav-item" id="btn-tab-3" aria-label="ตัวอย่าง">ตัวอย่าง</button>
        </div>
        <div id="tab-1" class="tabs-content" data-show="true">            
            <div class="entry-content" set:html={post.content.replace('<a href="https://assets.onlygroub', '<a href="https://onlygroub')}></div>
        </div>
        <div id="tab-2" class="tabs-content" data-show="false">
            <DataImdb imdbId={imdbId} post={post} />        
        </div>
        <div id="tab-3" class="tabs-content" data-show="false">
            <TrailerMovie movieName={post.title} youtubeId={post.movie.youtubeId} />
        </div>
    </div>
</article>
<script>
    const tabs : NodeListOf<HTMLButtonElement> = document.querySelectorAll('.tabs-nav-item');
    const contents : NodeListOf<HTMLDivElement> = document.querySelectorAll('.tabs-content');
    tabs.forEach((tab, index) => {
        tab.addEventListener('click', () => {
            tabs.forEach((tab) => {
                tab.classList.remove('active');
            });
            contents.forEach((content) => {
                content.dataset.show = 'false';
            });
            tab.classList.add('active');
            contents[index].dataset.show = 'true';
        });
    });
</script>