---
import { Image } from 'astro:assets';
const { title , excerpt , date, dateFormatted, imageUrl, imageAlt, url , sizes , srcset , terms  } = Astro.props;
---

<li class="card">

    <a href={`/movie/${url}`}>
        <div class="card-thumbnail">
            <Image
                srcset={srcset}
                sizes={sizes}
                src={imageUrl}
                alt={imageAlt}
                width="300"
                height="429"
                loading="lazy"
            />
        </div>
        <div class="card-content">
            <span class="card-title">{title}</span>
            <div class="card-terms">
                <span class="term">
                    {terms.nodes[0].name}
                </span>
            </div>
        </div>
    </a>
</li>