---
const { seo } = Astro.props;
---
<title>{seo.title}</title>
{seo.metaDesc && <meta name="description" content={seo.metaDesc} />}
<link rel="canonical" href={seo.canonical ? seo.canonical : 'https://movie.onlygroub.com'+Astro.url.pathname} />
{seo.focuskw && <meta name="keywords" content={seo.focuskw} />}

<!-- Open Graph / Facebook -->
{seo.opengraphTitle && <meta property="og:type" content="website" />}
{seo.opengraphTitle && <meta property="og:locale" content="th_TH" />}
{seo.opengraphTitle && <meta property="og:title" content={seo.opengraphTitle} />}
{seo.opengraphUrl && <meta property="og:url" content={seo.opengraphUrl} />}
{seo.opengraphDescription && <meta property="og:description" content={seo.opengraphDescription} />}
{seo.opengraphImage && <meta property="og:image" content={seo.opengraphImage.sourceUrl} />}
{seo.opengraphImage && <meta property="og:image:alt" content={seo.opengraphTitle} />}
{seo.opengraphImage && <meta property="og:image:secure_url" content={seo.opengraphImage.sourceUrl} />}
{seo.opengraphImage && (
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
)}
{seo.opengraphSiteName && <meta property="og:site_name" content={seo.opengraphSiteName} />}
{seo.opengraphPublishedTime && <meta property="article:published_time" content={seo.opengraphPublishedTime} />}
{seo.opengraphModifiedTime && <meta property="article:modified_time" content={seo.opengraphModifiedTime} />}
{seo.opengraphAuthor && <meta property="article:author" content={seo.opengraphAuthor} />}

<!-- Twitter -->		
{seo.opengraphUrl && <meta property="twitter:card" content="summary_large_image" />}
{seo.opengraphUrl && <meta property="twitter:url" content={seo.opengraphUrl} />}
{seo.opengraphTitle && <meta property="twitter:title" content={seo.opengraphTitle} />}
{seo.opengraphDescription && <meta property="twitter:description" content={seo.opengraphDescription} />}
{seo.opengraphImage && <meta property="twitter:image" content={seo.opengraphImage.sourceUrl} />}
{seo.opengraphImage && <meta property="twitter:image:alt" content={seo.opengraphTitle} />}
{seo.opengraphImage && <meta property="twitter:image:src" content={seo.opengraphImage.sourceUrl} />}
{seo.opengraphImage && (
<meta property="twitter:image:width" content="1200" />
<meta property="twitter:image:height" content="630" />
)}
<script type="application/ld+json" set:html={seo.schema.raw}></script>